<% reply_css_class = "#{'reply-comment' if comment.parent.present?}" %>
<li class="clearfix comment-block <%= reply_css_class %>">
  <div class="avatar">
    <div class="m-b-xs">
      <%= image_tag comment.user.avatar.medium.url, title: comment.user.name, alt: comment.user.name %>
    </div>
    <% if user_signed_in? && current_user.admin? %>
      <%= link_to('', match_comment_path(@match, comment), method: :delete, class: 'ui-icon ui-icon-trash', :"data-confirm" => "Are you sure?", title: 'delete') %>
    <% end %>
    <% if !comment.parent.present? %>
      <%= link_to t(".reply"), "#", class: "reply_comment" %>
    <% end %>
  </div>
  <div class="comment-box clearfix">
    <div class="author clearfix">
      <a class="username" href="<%= profile_path(comment.user) %>" title="<%= comment.user.decorate.name %>"><%= comment.user.decorate.name %></a>
      <span class="date"><%= l comment.created_at, format: :long %></span>
    </div>
    <p class="comment">
      <%= comment.body %>
    </p>
    <div class="comment reply_comment_form m-t" style="display:none;">
      <% if user_signed_in? %>
        <%= render partial: "comments/form", locals: { comment: Comment.new(parent: comment) } %>
      <% else %>
        <%= t("sign_in_to_comment", url: new_user_session_path).html_safe %>
      <% end %>
    </div>
  </div>
</li>
<% if comment.has_children? %>
    <%= render partial: "comments/comment", collection: comment.children, as: :comment %>
<% end %>

