<div class="form-panel width-33pc width-100pc-xs hcenter m-t-lg">
  <header><%= t("shared.header.sign_in") %></header>
  <fieldset>
    <%= render "form" %>
  </fieldset>
</div>

<div class="align-center"><%= t(".need_an_account") %> <a href="<%= new_user_registration_path %>"><%= t("shared.header.sign_up") %></a></div>
