<!DOCTYPE html>
<html>
<head>
  <title>FootballTube</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <%= render "shared/header" %>    
  </div>
  <div class="wrapper">
    <div id="main" class="clearfix">
      <div id="search">
        <%= render "shared/search" %>
      </div>
      <div id="content">
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>
  <div class="vertical-banner">
    <%= image_tag "fake_vertical_banner.jpg", style: "position:absolute;top:165px;right:0px;" %>
  </div>
  <%= render "shared/footer" %>
</body>
</html>
