<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= jwplayer_assets %>

  <% if controller.action_name == "index" && %w(players competitions teams matches).include?(controller.controller_name) %>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.js"></script>
  <% end %>

  <%= favicon_link_tag '/favicon.ico' %>
  <%= csrf_meta_tags %>

  <script src="/uikit/js/uikit.js"></script>

  <link href="/uikit/css/skin-5.css" rel="stylesheet">

  <!-- Bootstrap core CSS
  ================================================== -->
  <link href="/uikit/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/uikit/css/skin-footballia.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="/uikit/js/html5shiv.js"></script>
  <script src="/uikit/js/respond.min.js"></script>
  <![endif]-->

  <link href='http://fonts.googleapis.com/css?family=Roboto&subset=cyrillic,cyrillic-ext,latin,greek-ext,greek,latin-ext' rel='stylesheet' type='text/css'>

</head>
<body class="preload tile-1-bg">
  <div class="page-wrapper shadow">
    <header class="header-block">
      <%= render "shared/header" %>    
      <%= render "shared/menu" %>
      <div class="container m-t m-b">
        <%= breadcrumbs pretext: "", separator: " &rsaquo; ", semantic: true %>
      </div>
    </header>
    
    <!-- Content Block
    ============================================ -->
    <div class="content-block">
          
      <!-- Container -->
      <div class="container no-pad-t">
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div>
    </div>

    <%= render "shared/footer" %>
  </div> <!-- Page Wrapper -->
</body>
</html>
