<!DOCTYPE html>
<html lang="<%=I18n.locale%>">
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>

  <%= jwplayer_assets if jwplayer_needed? %>

  <% if datatables_needed? %>
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.js"></script>
  <% end %>

  <% if google_charts_needed? %>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <% end %>

  <%= favicon_link_tag '/favicon.ico' %>
  <%= csrf_meta_tags %>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="/uikit/js/html5shiv.js"></script>
  <script src="/uikit/js/respond.min.js"></script>
  <![endif]-->
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= render "shared/extra_meta_tags" %>

  <%= yield(:keywords_meta_tag) %>
  <%= yield(:description_meta_tag) %>
  <%= yield(:open_graph_meta_tags) %>

  <%= render "shared/analytics" if Rails.env.production? %>
  <%= render "shared/facebook_pixel" if Rails.env.production? %>

</head>
<body>

  <%= render "shared/facebook_sdk" %>
  <%= render "shared/twitter_widget" %>

  <div class="page-wrapper shadow">
    <header class="header-block">
      <%= render "shared/header" %>    
      <%= render "shared/menu" %>
      <%= render "shared/ads" if Rails.env.production? %>
      <div class="container m-t m-b">
        <%= breadcrumbs pretext: "", separator: " &rsaquo; ", semantic: true %>
      </div>
    </header>
    
    <!-- Content Block
    ============================================ -->
    <div class="content-block">
          
      <!-- Container -->
      <div class="container no-pad-t">
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div>
      <% if Rails.env.production? && !home_page?%>
        <div class="embedded_ad">
          <script type="text/javascript">document.write('<scr'+'ipt type="text/javascript" src="http://adserver.adtech.de/addyn/3.0/2974/6301164/0/170/ADTECH;kvad=false;loc=100;target=_blank;misc='+new Date().getTime()+'"></scri'+'pt>');</script>
        </div>
      <% end %>
    </div>

    <%= render "shared/footer" %>
    <%= render "shared/donate" %>

  </div> <!-- Page Wrapper -->

  <% if Rails.env.production? %>
    <!-- advertising C/cDp511fDk6Mfkk1aSNeGOMwN1gqyDF87t5CcQ319U= -->
    <script data-cfasync="false" type="text/javascript">
      (function (document, window) {
        var c = document.createElement("script");
        c.type = "text/javascript";
        c.async = !0;
        c.src = "//onlinesupaads.com/scripts/3a41fdfe67e05e6cb72f58f00fc58c40.min.js?20160905=" + Math.floor((new Date).getTime());
        var a = !1;
        try {
          a = parent.document.getElementsByTagName("script")[0] || document.getElementsByTagName("script")[0];
        } catch (e) {
          a = !1;
        }
        a || ( a = document.getElementsByTagName("head")[0] || document.getElementsByTagName("body")[0]);
        a.parentNode.insertBefore(c, a);
      })(document, window);
    </script>
    <!-- end advertising -->
  <% end %>
</body>
</html>
