<!DOCTYPE html>
<html>
<head>
  <title>FootballTube</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= jwplayer_assets %>
  <!-- DataTables CSS -->
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.css">
  <!-- DataTables -->
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.4/js/jquery.dataTables.js"></script>
  <%= favicon_link_tag '/favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="header">
    <%= render "shared/header" %>    
  </div>
  <div class="wrapper">
    <div id="main" class="clearfix">
      <div id="left_column">
        <%= render "shared/search" %>
        <% if user_signed_in? && current_user.admin? %>
          <%= render "shared/admin_links" %>
        <% end %>
      </div>
      
      <div id="content">
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </div>
  <div class="vertical-banner">
  </div>
  <%= render "shared/footer" %>
</body>
</html>
